<div class="bus_info_container">
  <div class="bus_info">
    <div class="bus_info_section1">
      <div class="bus_info_name1 clickable">
        <a data-toggle="modal" data-target="#Basketball_court">
          <p id="#" class="info_name">농구장 앞(하차)</p>
          <p id="#" class="info_arrival"><%= @expect[0] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section2">
      <div class="bus_info_name2 clickable">
        <a data-toggle="modal" data-target="#StudentHall">
          <p id="#" class="info_name">학생회관 앞</p>
          <p id="#" class="info_arrival"><%= @expect[1] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
      <div class="bus_info_name10 clickable">
        <a data-toggle="modal" data-target="#Sixhundred_Anniversary">
          <p id="#" class="info_name">600주년 기념관</p>
          <p id="#" class="info_arrival"><%= @expect[9] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section3">
      <div class="bus_info_name3 clickable">
        <a data-toggle="modal" data-target="#Exit">
          <p id="#" class="info_name">정문(하교)</p>
          <p id="#" class="info_arrival"><%= @expect[2] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
      <div class="bus_info_name9 clickable">
        <a data-toggle="modal" data-target="#Entrance">
          <p id="#" class="info_name">정문(등교)</p>
          <p id="#" class="info_arrival"><%= @expect[8] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section4">
      <div class="bus_info_name4 clickable">
        <a data-toggle="modal" data-target="#HyehwaRottery">
          <p id="#" class="info_name">혜화로터리</p>
          <p id="#" class="info_arrival"><%= @expect[3] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
      <div class="bus_info_name8 clickable">
        <a data-toggle="modal" data-target="#McDonald">
          <p id="#" class="info_name">맥도날드 앞</p>
          <p id="#" class="info_arrival"><%= @expect[7] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section5 clickable">
      <div class="bus_info_name6">
        <a data-toggle="modal" data-target="#HyehwaStation">
          <p id="#" class="info_name">혜화역(승차)</p>
          <p id="#" class="info_arrival"><%= @expect[5] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </a>
      </div>
    </div>
    <div class="button_refresh hvr-push clickable">
      <a href="/"><%= image_tag 'skkbus_ic_refresh.png' %></a>
    </div>
  </div>
</div>
