<div class="bus_info_container" data-remote="true">
  <div class="bus_info">
    <div class="bus_info_section1">
      <div class="bus_info_name1 clickable">
        <a data-toggle="modal" data-target="#Basketball_court">
          <p id="#" class="info_name">농구장 앞</p>
          <% if @carNumber[0].present? and @kind[0] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[0] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[0].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section2">
      <div class="bus_info_name2 clickable">
        <a data-toggle="modal" data-target="#StudentHall">
          <p id="#" class="info_name">학생회관 앞</p>
          <% if @carNumber[2].present? and @kind[2] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[2] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[2].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
      <div class="bus_info_name10 clickable">
        <a data-toggle="modal" data-target="#Sixhundred_Anniversary">
          <p id="#" class="info_name">600주년</p>
          <% if @carNumber[10].present? and @kind[10] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[10] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[10].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section3">
      <div class="bus_info_name3 clickable">
        <a data-toggle="modal" data-target="#Exit">
          <p id="#" class="info_name">정문(하교)</p>
          <% if @carNumber[3].present? and @kind[3] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[3] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[3].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
      <div class="bus_info_name9 clickable">
        <a data-toggle="modal" data-target="#Entrance">
          <p id="#" class="info_name">정문(등교)</p>
          <% if @carNumber[9].present? and @kind[9] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[9] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[9].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section4">
      <div class="bus_info_name4 clickable">
        <a data-toggle="modal" data-target="#HyehwaRottery">
          <p id="#" class="info_name">혜화로터리</p>
          <% if @carNumber[4].present? and @kind[4] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[4] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[4].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
      <div class="bus_info_name8 clickable">
        <a data-toggle="modal" data-target="#McDonald">
          <p id="#" class="info_name">맥도날드 앞</p>
          <% if @carNumber[8].present? and @kind[8] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[8] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[8].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
    </div>
    <div class="bus_info_section5 clickable">
      <div class="bus_info_name6">
        <a data-toggle="modal" data-target="#HyehwaStation">
          <p id="#" class="info_name">혜화역(승차)</p>
          <% if @carNumber[6].present? and @kind[6] == "2" %>
              <p id="#" class="info_arrival">정차중</p>
          <% elsif @expect[6] <= 1.0 %>
              <p id="#" class="info_arrival">곧 도착</p>
          <% else %>
              <p id="#" class="info_arrival"><%= @expect[6].round(0) %>분 후 도착</p>
          <% end %>
          <div class="info_detail"><p>더 보기</p></div>
        </a>
      </div>
    </div>

    <div class="button_refresh hvr-push clickable">
      <%= link_to (image_tag 'skkbus_ic_refresh.png'), root_path, class: 'btn' %>
    </div>

    <div class="weather_info">
      <p id="#" class="info_name"><%= @temp %></p>
      <p id="#" class="info_name"><%= @dust %></p>
      <p id="#" class="info_name"><%= @msg %></p>
      <a href="https://forms.gle/53ibndkerZsBG47M8" style="font-size:10px"> 덕담 공모 </a>
    </div>

  </div>
</div>

</div>

<script>
  $("a.btn").one("click", function() {
    $(this).click(function () { return false; });
  });
</script>
