
<div class="bus_station_section1">
  <div class="s2 bus_dep1">
    <div class="bus_ic_dep">
      <% if @carNumber[0].present? and @kind[0] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[0] %></span>
      <% end %>
    </div>
  </div>
  <div class="s1 bus_station_sequence1 clickable">
    <a data-toggle="modal" data-target="#Basketball_court">
      <%= image_tag 'skkbus_ic_left.png', class: 'sequence1_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[0].present? and @kind[0] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[0] %></span><br>
            <span id="#" class="bus_number2"><%= @carNumber[1] %></span>
        <% end %>
      </div>
    </a>
  </div>
  <div class="s2 bus_dep10">
    <div class="bus_ic_dep">
      <% if @carNumber[10].present? and @kind[10] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[10] %></span>
      <% end %>
    </div>
  </div>
</div>
<div class="bus_station_section2">
  <a data-toggle="modal" data-target="#StudentHall">
    <div class="s1 bus_station_sequence2 clickable">
      <%= image_tag 'skkbus_ic_left.png' , class: 'sequence10_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[2].present? and @kind[2] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[2] %></span>
        <% end %>
      </div>
    </div>
  </a>
  <div class="s1 bus_station_sequence10 clickable">
    <a data-toggle="modal" data-target="#Sixhundred_Anniversary">
      <%= image_tag 'skkbus_ic_left.png' , class: 'sequence2_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[10].present? and @kind[10] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[10] %></span>
        <% end %>
      </div>
    </a>
  </div>
</div>
<div class="bus_station_section3">
  <div class="s2 bus_dep2">
    <div class="bus_ic_dep">
      <% if @carNumber[2].present? and @kind[2] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[2] %></span>
      <% end %>
    </div>
  </div>
  <div class="s2 bus_dep9">
    <div class="bus_ic_dep">
      <% if @carNumber[9].present? and @kind[9] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[9] %></span>
      <% end %>
    </div>
  </div>
</div>
<div class="bus_station_section4">
  <div class="s1 bus_station_sequence3 clickable">
    <a data-toggle="modal" data-target="#Exit">
      <%= image_tag 'skkbus_ic_left.png' , class: 'sequence10_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[3].present? and @kind[3] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[3] %></span>
        <% end %>
      </div>
    </a>
  </div>
  <div class="s1 bus_station_sequence9 clickable">
    <a data-toggle="modal" data-target="#Entrance">
      <%= image_tag 'skkbus_ic_left.png' , class: 'sequence2_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[9].present? and @kind[9] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[9] %></span>
        <% end %>
      </div>
    </a>
  </div>
</div>
<div class="bus_station_section5">
  <div class="s2 bus_dep3">
    <div class="bus_ic_dep">
      <% if @carNumber[3].present? and @kind[3] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[3] %></span>
      <% end %>
    </div>
  </div>
  <div class="s2 bus_dep8">
    <div class="bus_ic_dep">
      <% if @carNumber[8].present? and @kind[8] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[8] %></span>
      <% end %>
    </div>
  </div>
</div>
<div class="bus_station_section6">
  <div class="s1 bus_station_sequence4 clickable">
    <a data-toggle="modal" data-target="#HyehwaRottery">
      <%= image_tag 'skkbus_ic_left.png', class: 'sequence10_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[4].present? and @kind[4] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[4] %></span>
        <% end %>
      </div>
    </a>
  </div>
  <div class="s1 bus_station_sequence8 clickable">
    <a data-toggle="modal" data-target="#McDonald">
      <%= image_tag 'skkbus_ic_left.png' , class: 'sequence2_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[8].present? and @kind[8] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[8] %></span>
        <% end %>
      </div>
    </a>
  </div>
</div>
<div class="bus_station_section7">
  <div class="s2 bus_dep4">
    <div class="bus_ic_dep">
      <% if @carNumber[4].present? and @kind[4] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[4] %></span>
      <% elsif @carNumber[5].present? %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[5] %></span>
      <% end %>
    </div>
  </div>
  <div class="s1 bus_station_sequence6 clickable">
    <a data-toggle="modal" data-target="#HyehwaStation">
      <%= image_tag 'skkbus_ic_left.png' , class: 'sequence6_arrow' %>
      <div class="bus_ic_station">
        <% if @carNumber[6].present? and @kind[6] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[6] %></span>
        <% end %>
      </div>
    </a>
  </div>
  <div class="s2 bus_dep6">
    <div class="bus_ic_dep">
      <% if @carNumber[6].present? and @kind[6] == "3" %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[6] %></span>
      <% elsif @carNumber[7].present? %>
          <%= image_tag 'skkbus_ic_bus3.png' %>
          <span id="#" class="bus_number1"><%= @carNumber[7] %></span>
      <% end %>
    </div>
  </div>
</div>