<div class="bus_all">
  <div class="bus_line_container">
    <div class="bus_line">
      <div class="bus_station_section1">
        <div class="s2 bus_dep4">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s1 bus_station_sequence6">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence6_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <!-- /img 해주어야 함 -->
        <div class="s2 bus_dep6">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
      <div class="bus_station_section2">
        <div class="s1 bus_station_sequence4">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence4_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s1 bus_station_sequence8">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence8_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
      <div class="bus_station_section3">
        <div class="s2 bus_dep3">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s2 bus_dep8">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
      <div class="bus_station_section4">
        <div class="s1 bus_station_sequence3">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence4_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s1 bus_station_sequence9">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence8_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
      <div class="bus_station_section5">
        <div class="s2 bus_dep2">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s2 bus_dep9">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
      <div class="bus_station_section6">
        <div class="s1 bus_station_sequence2">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence4_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s1 bus_station_sequence10">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence8_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
      <div class="bus_station_section7">
        <div class="s2 bus_dep1">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s1 bus_station_sequence1">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence1_arrow' %>
          <div class="bus_ic_station">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
        <div class="s2 bus_dep10">
          <div class="bus_ic_dep">
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1">10가 4500</span><br>
            <span id="#" class="bus_number2">10가 4500</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless @overlap %>
<div class="bus_all">
  <div class="bus_info_container">
    <div class="bus_info">
      <div class="bus_info_section1">
        <div class="bus_info_name1">
          <p id="#" class="info_name">농구장</p>
          <p id="#" class="info_arrival"><%= @expect1 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section2">
        <div class="bus_info_name8">
          <p id="#" class="info_name">정문(하교)</p>
          <p id="#" class="info_arrival"><%= @expect3 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name2">
          <p id="#" class="info_name">600주년 기념관</p>
          <p id="#" class="info_arrival"><%= @expect10 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section3">
        <div class="bus_info_name7">
          <p id="#" class="info_name">정문(등교)</p>
          <p id="#" class="info_arrival"><%= @expect9 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name3">
          <p id="#" class="info_name">학생회관 앞</p>
          <p id="#" class="info_arrival"><%= @expect4 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section4">
        <div class="bus_info_name6">
          <p id="#" class="info_name">혜화로터리</p>
          <p id="#" class="info_arrival"><%= @expect5 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name4">
          <p id="#" class="info_name">맥도날드 앞</p>
          <p id="#" class="info_arrival"><%= @expect7 + @expect8 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section5">
        <div class="bus_info_name5">
          <p id="#" class="info_name">혜화역</p>
          <p id="#" class="info_arrival"><%= @expect5 + @expect6 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="button_refresh">
        <a href="/main"><%= image_tag 'skkbus_ic_refresh.png' %></a>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="bus_all">
  <div class="bus_info_container">
    <div class="bus_info">
      <div class="bus_info_section1">
        <div class="bus_info_name1">
          <p id="#" class="info_name">농구장</p>
          <p id="#" class="info_arrival"><%= @expect1 %>분 후 도착</p>
          <p id="#" class="info_arrival"><%= @expect2 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section2">
        <div class="bus_info_name8">
          <p id="#" class="info_name">정문(하교)</p>
          <p id="#" class="info_arrival"><%= @expect4 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name2">
          <p id="#" class="info_name">600주년 기념관</p>
          <p id="#" class="info_arrival"><%= @expect11 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section3">
        <div class="bus_info_name7">
          <p id="#" class="info_name">정문(등교)</p>
          <p id="#" class="info_arrival"><%= @expect10 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name3">
          <p id="#" class="info_name">학생회관 앞</p>
          <p id="#" class="info_arrival"><%= @expect5 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section4">
        <div class="bus_info_name6">
          <p id="#" class="info_name">혜화로터리</p>
          <p id="#" class="info_arrival"><%= @expect6 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name4">
          <p id="#" class="info_name">맥도날드 앞</p>
          <p id="#" class="info_arrival"><%= @expect8 + @expect9 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section5">
        <div class="bus_info_name5">
          <p id="#" class="info_name">혜화역</p>
          <p id="#" class="info_arrival"><%= @expect6 + @expect7 %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="button_refresh">
        <a href="/main"><%= image_tag 'skkbus_ic_refresh.png' %></a>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/schedule">인사캠 셔틀 운영시간 보기</a>
      </div>
    </div>
  </nav>
</div>