<div class="container">
  <!-- Navigation_Top -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="nav_ic_left">
          <a href="/info"><%= image_tag 'skkbus_ic_info.png' %></a>
        </div>
        <a class="navbar-brand topnav" style="font-family: Nunito; font-weight: 100;" href="/main"><span style="font-family: Nunito; font-weight: bold; text-shadow: 0.6px 0px 0px">SKK</span>OOL BUS</a>
        <div class="nav_ic_right">
          <a href="/schedule"><%= image_tag 'skkbus_ic_schedule.png' %></a>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>



<div class="bus_all" style="">
  <div class="bus_line_container">
    <div class="bus_line">
      <div class="bus_station_section1">
        <div class="s2 bus_dep1">
          <div class="bus_ic_dep">
            <% if @carNumber[0].present? and @kind[0] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[0] %></span>
            <% end %>
          </div>
        </div>
        <div class="s1 bus_station_sequence1">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence1_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[0].present? and @kind[0] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[0] %></span>
            <% end %>
          </div>
        </div>
        <div class="s2 bus_dep10">
          <div class="bus_ic_dep">
            <% if @carNumber[9].present? and @kind[9] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[0] %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bus_station_section2">
        <div class="s1 bus_station_sequence2">
          <%= image_tag 'skkbus_ic_left.png' , class: 'sequence10_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[1].present? and @kind[1] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[1] %></span>
            <% end %>
          </div>
        </div>
        <div class="s1 bus_station_sequence8">
          <%= image_tag 'skkbus_ic_left.png' , class: 'sequence2_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[9].present? and @kind[9] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[9] %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bus_station_section3">
        <div class="s2 bus_dep2">
          <div class="bus_ic_dep">
            <% if @carNumber[1].present? and @kind[1] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[1] %></span>
            <% end %>
          </div>
        </div>
        <div class="s2 bus_dep9">
          <div class="bus_ic_dep">
            <% if @carNumber[8].present? and @kind[8] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[8] %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bus_station_section4">
        <div class="s1 bus_station_sequence3">
          <%= image_tag 'skkbus_ic_left.png' , class: 'sequence10_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[3].present? and @kind[3] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[3 ] %></span>
            <% end %>
          </div>
        </div>
        <div class="s1 bus_station_sequence9">
          <%= image_tag 'skkbus_ic_left.png' , class: 'sequence2_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[8].present? and @kind[8] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[8] %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bus_station_section5">
        <div class="s2 bus_dep3">
          <div class="bus_ic_dep">
            <% if @carNumber[2].present? and @kind[2] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[2] %></span>
            <% end %>
          </div>
        </div>
        <div class="s2 bus_dep8">
          <div class="bus_ic_dep">
            <% if @carNumber[7].present? and @kind[7] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[7] %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bus_station_section6">
        <div class="s1 bus_station_sequence4">
          <%= image_tag 'skkbus_ic_left.png', class: 'sequence10_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[3].present? and @kind[3] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[3] %></span>
            <% end %>
          </div>
        </div>
        <div class="s1 bus_station_sequence10">
          <%= image_tag 'skkbus_ic_left.png' , class: 'sequence2_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[7].present? and @kind[7] == "2" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[7] %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bus_station_section7">
        <div class="s2 bus_dep4">
          <div class="bus_ic_dep">
            <% if @carNumber[3].present? and @kind[3] == "3" %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[3] %></span>
            <% elsif @carNumber[4].present? %>
            <%= image_tag 'skkbus_ic_bus3.png' %>
            <span id="#" class="bus_number1"><%= @carNumber[4] %></span>
            <% end %>
          </div>
        </div>
        <div class="s1 bus_station_sequence6">
          <%= image_tag 'skkbus_ic_left.png' , class: 'sequence6_arrow' %>
          <div class="bus_ic_station">
            <% if @carNumber[5].present? and @kind[5] == "2" %>
                <%= image_tag 'skkbus_ic_bus3.png' %>
                <span id="#" class="bus_number1"><%= @carNumber[5] %></span>
            <% end %>
          </div>
        </div>
        <div class="s2 bus_dep6">
          <div class="bus_ic_dep">
            <% if @carNumber[5].present? and @kind[5] == "3" %>
                <%= image_tag 'skkbus_ic_bus3.png' %>
                <span id="#" class="bus_number1"><%= @carNumber[5] %></span>
            <% elsif @carNumber[6].present? %>
                <%= image_tag 'skkbus_ic_bus3.png' %>
                <span id="#" class="bus_number1"><%= @carNumber[6] %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="bus_info_container">
    <div class="bus_info">
      <div class="bus_info_section1">
        <div class="bus_info_name1">
          <p id="#" class="info_name">농구장 앞(하차)</p>
          <p id="#" class="info_arrival"><%= @expect[0] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section2">
        <div class="bus_info_name2">
          <p id="#" class="info_name">학생회관 앞</p>
          <p id="#" class="info_arrival"><%= @expect[1] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name10">
          <p id="#" class="info_name">600주년 기념관</p>
          <p id="#" class="info_arrival"><%= @expect[9] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section3">
        <div class="bus_info_name3">
          <p id="#" class="info_name">정문(하교)</p>
          <p id="#" class="info_arrival"><%= @expect[2] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name9">
          <p id="#" class="info_name">정문(등교)</p>
          <p id="#" class="info_arrival"><%= @expect[8] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section4">
        <div class="bus_info_name4">
          <p id="#" class="info_name">혜화로터리</p>
          <p id="#" class="info_arrival"><%= @expect[6] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
        <div class="bus_info_name8">
          <p id="#" class="info_name">맥도날드 앞</p>
          <p id="#" class="info_arrival"><%= @expect[7] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="bus_info_section5">
        <div class="bus_info_name6">
          <p id="#" class="info_name">혜화역(승차)</p>
          <p id="#" class="info_arrival"><%= @expect[5] %>분 후 도착</p>
          <div class="info_detail"><p>자세히보기</p></div>
        </div>
      </div>
      <div class="button_refresh">
        <a href="/main"><%= image_tag 'skkbus_ic_refresh.png' %></a>
      </div>
    </div>

  </div>
</div>