<div class="container">
  <!-- Navigation_Top -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" >
        <div class="nav_ic_back">
          <a href="/main">
            <%= image_tag("skkbus_ic_arrow_back.png", class: "arrow_back") %></a>
        </div>
        <a class="navbar-brand topnav" style="font-family: Nunito; margin-left:-30px;"><span style="font-family: Nunito; font-weight: 500; font-size: 16px;">인사캠 셔틀 운영시간</span></a>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>


<div class="timetable_box">

  <div class="boards_box2">
    <div class="container" style="margin-top: 5px;">
      <div class="board_header">

        <h4><%= image_tag 'skkbus_ic_schedule_bus.png', class: 'schedule_bus' %>운영시간</h4>
      </div>
      <table class="table_long">
        <!--<thead>-->
        <!--	<tr>-->
        <!--    	<th colspan="3">(버스이미지) 승차요금</th>-->
        <!--    </tr>-->
        <!--</thead>-->
        <tbody>
        <tr class="table_height">
          <td rowspan="2" class="padding_bottom">학기중</td>
          <td width="25%">평일</td>
          <td width="50%" class="color_blue">07:00 ~ 23:00</td>
        <tr class="table_height_2">
          <td>토요일</td>
          <td width="50%" class="color_blue">07:00 ~ 23:00</td>
        </tr>
        <tr class="table_height_3">
          <td>방학중</td>
          <td width="25%">평일/토요일</td>
          <td width="50%" class="color_blue">07:00 ~ 19:00</td>
        </tr>
        <tr class="table_height_4">
          <td colspan="3"><strong>월~토 운행,</strong> <span style="color: #e16d1d;">일요일/공휴일 운행 안함</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="boards_box">
    <div class="container" style="margin-top: 5px;">
      <div class="board_header">

        <h4><%= image_tag 'skkbus_ic_schedule_bus.png', class: 'schedule_bus' %>승차요금</h4>
      </div>
      <table class="table_long">
        <!--<thead>-->
        <!--	<tr>-->
        <!--    	<th colspan="3">(버스이미지) 승차요금</th>-->
        <!--    </tr>-->
        <!--</thead>-->
        <tbody>
        <tr class="table_height">
          <td width="25%">현금</td>
          <td width="25%" class="color_blue">300원</td>
          <td width="50%"></td>
        </tr>
        <tr class="table_height">
          <td>회수권</td>
          <td class="color_blue">300원</td>
          <td style="color: #797777; font-weight: lighter;">농구장 옆 매표소 판매</td>
        </tr>
        <tr class="table_height_2">
          <td>학생증</td>
          <td class="color_blue">300원</td>
          <td style="color: #797777; font-weight: lighter;">교내 학생증 충전시</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="boards_box_1">
    <div class="container" style="margin-top: 5px; padding-right: 0px;">
      <div class="board_header">
        <h4><%= image_tag 'skkbus_ic_schedule_bus.png', class: 'schedule_bus' %>탑승장소</h4>
      </div>
      <hr class="station_line">
      <div class="dongurami_1" style="z-index: 15;">
        <%= image_tag 'skkbus_ic_left.png', class: 'img_class' %>
      </div>
      <div class="dongurami_2" style="z-index: 15;">
        <%= image_tag 'skkbus_ic_left.png', class: 'img_class' %>
      </div>
      <div class="dongurami_2" style="z-index: 15;">
        <%= image_tag 'skkbus_ic_left.png', class: 'img_class' %>
      </div>
      <div class="dongurami_2" style="z-index: 15;">
        <%= image_tag 'skkbus_ic_left.png', class: 'img_class' %>
      </div>
      <div class="dongurami_2" style="z-index: 15;">
        <%= image_tag 'skkbus_ic_left.png', class: 'img_class' %>
      </div>
      <div class="word_chunk font_size_smaller"><p class="word_line_1st">혜화역</p> <p class="word_line_2nd">1번출구</p></div>
      <div class="word_chunk_2 font_size_smaller"><p class="word_line_1st">맥도날드 앞</p> </div>
      <div class="word_chunk_3 font_size_smaller"><p class="word_line_1st">정문</p> </div>
      <div class="word_chunk_3 font_size_smaller"><p class="word_line_1st">600주년</p><p class="word_line_2nd">기념관</p> </div>
      <div class="word_chunk_4 font_size_smaller"><p class="word_line_1st">농구장 옆</p><p class="word_line_2nd">(종점)</p> </div>
    </div>
  </div>


</div>