<br><br><br><br><br>
<% unless @overlap %>
    <p>
      [1]
      <% if @kind1 == "3" %>
          <% @json1 %>
          <%= @sequence1 %>번 정류장|
          <%= @stationName1 %>|
          <%= @eventDate1 %>|
          도착 후 대기 <%= @useTime1 %>분|
          <%= @carNumber1 %>|
      <% elsif @kind1 == "2" %>
          <% @json1 %>
          <%= @sequence1 %>번 정류장|
          <%= @stationName1 %>|
          <%= @eventDate1 %>|
          출발한지 <%= @useTime1 %>분|
          <%= @carNumber1 %>|
      <% elsif @kind1 = "" %>
      <% end %>
      다음버스예상도착시간: <%= @expect1 %>분
    </p>

    <p>
      [2]
      <% if @kind2 == "3" %>
          <% @json2 %>
          <%= @sequence2 %>번 정류장|
          <%= @stationName2 %>|
          <%= @eventDate2 %>|
          도착|
          <%= @useTime2 %>분|
          <%= @carNumber2 %>
      <% elsif @kind2 == "2" %>
          <% @json2 %>
          <%= @sequence2 %>번 정류장|
          <%= @stationName2 %>|
          <%= @eventDate2 %>|
          출발|
          <%= @useTime2 %>분|
          <%= @carNumber2 %>
      <% elsif @kind2 = "" %>
      <% end %>
      다음버스예상도착시간: <%= @expect2 %>분
    </p>

    <p>
      [3]
      <% if @kind3 == "3" %>
          <% @json3 %>
          <%= @sequence3 %>번 정류장|
          <%= @stationName3 %>|
          <%= @eventDate3 %>|
          도착|
          <%= @useTime3 %>분|
          <%= @carNumber3 %>
      <% elsif @kind3 == "2" %>
          <% @json3 %>
          <%= @sequence3 %>번 정류장|
          <%= @stationName3 %>|
          <%= @eventDate3 %>|
          출발|
          <%= @useTime3 %>분|
          <%= @carNumber3 %>
      <% elsif @kind3 = "" %>
      <% end %>
      다음버스예상도착시간: <%= @expect3 %>분
    </p>

    <p>
      [4]
      <% if @kind4 == "3" %>
          <% @json4 %>
          <%= @sequence4 %>번 정류장|
          <%= @stationName4 %>|
          <%= @eventDate4 %>|
          도착|
          <%= @useTime4 %>분|
          <%= @carNumber4 %>
      <% elsif @kind4 == "2" %>
          <% @json4 %>
          <%= @sequence4 %>번 정류장|
          <%= @stationName4 %>|
          <%= @eventDate4 %>|
          출발|
          <%= @useTime4 %>분|
          <%= @carNumber4 %>
      <% elsif @kind4 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect4 %>분
    </p>

    <p>
      [5]
      <% if @kind5 == "3" %>
          <% @json5 %>
          <%= @sequence5 %>번 정류장|
          <%= @stationName5 %>|
          <%= @eventDate5 %>|
          도착|
          <%= @useTime5 %>분|
          <%= @carNumber5 %>
      <% elsif @kind5 == "2" %>
          <% @json5 %>
          <%= @sequence5 %>번 정류장|
          <%= @stationName5 %>|
          <%= @eventDate5 %>|
          출발|
          <%= @useTime5 %>분|
          <%= @carNumber5 %>
      <% elsif @kind5 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect5 %>분
    </p>

    <p>
      [6]
      <% if @kind6 == "3" %>
          <% @json6 %>
          <%= @sequence6 %>번 정류장|
          <%= @stationName6 %>|
          <%= @eventDate6 %>|
          도착|
          <%= @useTime6 %>분|
          <%= @carNumber6 %>
      <% elsif @kind6 == "2" %>
          <% @json6 %>
          <%= @sequence6 %>번 정류장|
          <%= @stationName6 %>|
          <%= @eventDate6 %>|
          출발|
          <%= @useTime6 %>분|
          <%= @carNumber6 %>
      <% elsif @kind3 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect6 %>분
    </p>

    <p>
      [7]
      <% if @kind7 == "3" %>
          <% @json7 %>
          <%= @sequence7 %>번 정류장|
          <%= @stationName7 %>|
          <%= @eventDate7 %>|
          도착|
          <%= @useTime7 %>분|
          <%= @carNumber7 %>
      <% elsif @kind7 == "2" %>
          <% @json7 %>
          <%= @sequence7 %>번 정류장|
          <%= @stationName7 %>|
          <%= @eventDate7 %>|
          출발|
          <%= @useTime7 %>분|
          <%= @carNumber7 %>
      <% elsif @kind7 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect7 %>분
    </p>

    <p>
      [8]
      <% if @kind8 == "3" %>
          <% @json8 %>
          <%= @sequence8 %>번 정류장|
          <%= @stationName8 %>|
          <%= @eventDate8 %>|
          도착|
          <%= @useTime8 %>분|
          <%= @carNumber8 %>
      <% elsif @kind8 == "2" %>
          <% @json8 %>
          <%= @sequence8 %>번 정류장|
          <%= @stationName8 %>|
          <%= @eventDate8 %>|
          출발|
          <%= @useTime8 %>분|
          <%= @carNumber8 %>
      <% elsif @kind8 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect8 %>분
    </p>

    <p>
      [9]
      <% if @kind9 == "3" %>
          <% @json9 %>
          <%= @sequence9 %>번 정류장|
          <%= @stationName9 %>|
          <%= @eventDate9 %>|
          도착|
          <%= @useTime9 %>분|
          <%= @carNumber9 %>
      <% elsif @kind9 == "2" %>
          <% @json9 %>
          <%= @sequence9 %>번 정류장|
          <%= @stationName9 %>|
          <%= @eventDate9 %>|
          출발|
          <%= @useTime9 %>분|
          <%= @carNumber9 %>
      <% elsif @kind9 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect9 %>분
    </p>

    <p>
      [10]
      <% if @kind10 == "3" %>
          <% @json10 %>
          <%= @sequence10 %>번 정류장|
          <%= @stationName10 %>|
          <%= @eventDate10 %>|
          도착|
          <%= @useTime10 %>분|
          <%= @carNumber10 %>
      <% elsif @kind10 == "2" %>
          <% @json10 %>
          <%= @sequence10 %>번 정류장|
          <%= @stationName10 %>|
          <%= @eventDate10 %>|
          출발|
          <%= @useTime10 %>분|
          <%= @carNumber10 %>
      <% elsif @kind10 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect10 %>분
    </p>


<% else %><!-- 버스가 겹친 경우 -->

    overlap
    <p>
      [1]
      <% if @kind1 == "3" %>
          <% @json1 %>
          <%= @sequence1 %>번 정류장|
          <%= @stationName1 %>|
          <%= @eventDate1 %>|
          도착 후 대기 <%= @useTime1 %>분|
          <%= @carNumber1 %>|
      <% elsif @kind1 == "2" %>
          <% @json1 %>
          <%= @sequence1 %>번 정류장|
          <%= @stationName1 %>|
          <%= @eventDate1 %>|
          출발한지 <%= @useTime1 %>분|
          <%= @carNumber1 %>|
      <% elsif @kind1 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect1 %>분
    </p>

    <p>
      [2]
      <% if @kind2 == "3" %>
          <% @json2 %>
          <%= @sequence2 %>번 정류장|
          <%= @stationName2 %>|
          <%= @eventDate2 %>|
          도착|
          <%= @useTime2 %>분|
          <%= @carNumber2 %>
      <% elsif @kind2 == "2" %>
          <% @json2 %>
          <%= @sequence2 %>번 정류장|
          <%= @stationName2 %>|
          <%= @eventDate2 %>|
          출발|
          <%= @useTime2 %>분|
          <%= @carNumber2 %>
      <% elsif @kind2 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect2 %>분
    </p>

    <p>
      [3]
      <% if @kind3 == "3" %>
          <% @json3 %>
          <%= @sequence3 %>번 정류장|
          <%= @stationName3 %>|
          <%= @eventDate3 %>|
          도착|
          <%= @useTime3 %>분|
          <%= @carNumber3 %>
      <% elsif @kind3 == "2" %>
          <% @json3 %>
          <%= @sequence3 %>번 정류장|
          <%= @stationName3 %>|
          <%= @eventDate3 %>|
          출발|
          <%= @useTime3 %>분|
          <%= @carNumber3 %>
      <% elsif @kind3 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect3 %>분
    </p>

    <p>
      [4]
      <% if @kind4 == "3" %>
          <% @json4 %>
          <%= @sequence4 %>번 정류장|
          <%= @stationName4 %>|
          <%= @eventDate4 %>|
          도착|
          <%= @useTime4 %>분|
          <%= @carNumber4 %>
      <% elsif @kind4 == "2" %>
          <% @json4 %>
          <%= @sequence4 %>번 정류장|
          <%= @stationName4 %>|
          <%= @eventDate4 %>|
          출발|
          <%= @useTime4 %>분|
          <%= @carNumber4 %>
      <% elsif @kind4 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect4 %>분
    </p>

    <p>
      [5]
      <% if @kind5 == "3" %>
          <% @json5 %>
          <%= @sequence5 %>번 정류장|
          <%= @stationName5 %>|
          <%= @eventDate5 %>|
          도착|
          <%= @useTime5 %>분|
          <%= @carNumber5 %>
      <% elsif @kind5 == "2" %>
          <% @json5 %>
          <%= @sequence5 %>번 정류장|
          <%= @stationName5 %>|
          <%= @eventDate5 %>|
          출발|
          <%= @useTime5 %>분|
          <%= @carNumber5 %>
      <% elsif @kind5 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect5 %>분
    </p>

    <p>
      [6]
      <% if @kind6 == "3" %>
          <% @json6 %>
          <%= @sequence6 %>번 정류장|
          <%= @stationName6 %>|
          <%= @eventDate6 %>|
          도착|
          <%= @useTime6 %>분|
          <%= @carNumber6 %>
      <% elsif @kind6 == "2" %>
          <% @json6 %>
          <%= @sequence6 %>번 정류장|
          <%= @stationName6 %>|
          <%= @eventDate6 %>|
          출발|
          <%= @useTime6 %>분|
          <%= @carNumber6 %>
      <% elsif @kind3 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect6 %>분
    </p>

    <p>
      [7]
      <% if @kind7 == "3" %>
          <% @json7 %>
          <%= @sequence7 %>번 정류장|
          <%= @stationName7 %>|
          <%= @eventDate7 %>|
          도착|
          <%= @useTime7 %>분|
          <%= @carNumber7 %>
      <% elsif @kind7 == "2" %>
          <% @json7 %>
          <%= @sequence7 %>번 정류장|
          <%= @stationName7 %>|
          <%= @eventDate7 %>|
          출발|
          <%= @useTime7 %>분|
          <%= @carNumber7 %>
      <% elsif @kind7 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect7 %>분
    </p>

    <p>
      [8]
      <% if @kind8 == "3" %>
          <% @json8 %>
          <%= @sequence8 %>번 정류장|
          <%= @stationName8 %>|
          <%= @eventDate8 %>|
          도착|
          <%= @useTime8 %>분|
          <%= @carNumber8 %>
      <% elsif @kind8 == "2" %>
          <% @json8 %>
          <%= @sequence8 %>번 정류장|
          <%= @stationName8 %>|
          <%= @eventDate8 %>|
          출발|
          <%= @useTime8 %>분|
          <%= @carNumber8 %>
      <% elsif @kind8 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect8 %>분
    </p>

    <p>
      [9]
      <% if @kind9 == "3" %>
          <% @json9 %>
          <%= @sequence9 %>번 정류장|
          <%= @stationName9 %>|
          <%= @eventDate9 %>|
          도착|
          <%= @useTime9 %>분|
          <%= @carNumber9 %>
      <% elsif @kind9 == "2" %>
          <% @json9 %>
          <%= @sequence9 %>번 정류장|
          <%= @stationName9 %>|
          <%= @eventDate9 %>|
          출발|
          <%= @useTime9 %>분|
          <%= @carNumber9 %>
      <% elsif @kind9 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect9 %>분
    </p>

    <p>
      [10]
      <% if @kind10 == "3" %>
          <% @json10 %>
          <%= @sequence10 %>번 정류장|
          <%= @stationName10 %>|
          <%= @eventDate10 %>|
          도착|
          <%= @useTime10 %>분|
          <%= @carNumber10 %>
      <% elsif @kind10 == "2" %>
          <% @json10 %>
          <%= @sequence10 %>번 정류장|
          <%= @stationName10 %>|
          <%= @eventDate10 %>|
          출발|
          <%= @useTime10 %>분|
          <%= @carNumber10 %>
      <% elsif @kind10 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect10 %>분
    </p>

    <p>
      [11]
      <% if @kind11 == "3" %>
          <% @json11 %>
          <%= @sequence11 %>번 정류장|
          <%= @stationName11 %>|
          <%= @eventDate11 %>|
          도착|
          <%= @useTime11 %>분|
          <%= @carNumber11 %>
      <% elsif @kind11 == "2" %>
          <% @json11 %>
          <%= @sequence11 %>번 정류장|
          <%= @stationName11 %>|
          <%= @eventDate11 %>|
          출발|
          <%= @useTime11 %>분|
          <%= @carNumber11 %>
      <% elsif @kind11 = "" %>
          없음
      <% end %>
      다음버스예상도착시간: <%= @expect11 %>분
    </p>

<% end %>